body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20%;
    margin-right: 20%;
}